@charset 'UTF-8';

/* A mente do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 1.8vw Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

#cabecalho {
    background-color: #ff0055;
    color: white;
    border-radius: 0 0 50% 50%;
    text-align: center;
    padding: 2%;
    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#cabecalho h1 {
    text-transform: capitalize;
    margin-bottom: -4px;
}

#conteudo {
    margin: 3% auto 4%;
}
#conteudo section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0em;
    margin: auto 10%;
}

#conteudo section #add-task {
    background-color: lightgray;
    border-radius: 2em 2em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2% 3%;
    box-shadow: 1px 1px 5px #00000034;
}
#conteudo section #add-task div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#conteudo section #add-task input, #conteudo section #add-task .btn-black {
    font-size: 0.8em;
    padding: 1.5%;
    border-radius: 0.5em;
}
#conteudo section #add-task input {
    width: max-content;
}
#conteudo section #add-task .btn-black {
    width: 8em;
    height: 2em;
}

#conteudo section #add-task .btn-black, #conteudo section #lista li .remover {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 1em;
    padding: 2%;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .2s;
}
#conteudo section #add-task .btn-black:hover,
#conteudo section #add-task .btn-black:focus-visible {
    background-color: gray;
}
#conteudo section #add-task .btn-black:active {
    background-color: white;
    color: black;
}

#conteudo section #coisas {
    background-color: #d3d3d3;
    width: 100%;
    min-height: 10em;
    padding: 2% 6%;
    margin: auto 5%;
    border-radius: 1em;
    box-shadow: 1px 1px 10px #0000001f;
}
#conteudo section #coisas #lista li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6498;
    color: white;
    box-shadow: 1px 1px 1px #00000034;
    border-radius: 2em;
    padding: 1.5% 2%;
    padding-right: 9%;
    margin: 3% 0;
    font-weight: bold;
}
#conteudo section #coisas #lista li .nome {
    display: flex;
    width: 85%;
}
#conteudo section #coisas #lista li .opc {
    display: flex;
    gap: 0.5em;
}

#conteudo section #coisas #lista li .remover {
    background-color: brown;
    box-shadow: 1px 1px 1px #00000034;
    font-size: 1em;
    padding: 8% 12%;
    transition-duration: .2s;
}
#conteudo section #coisas #lista li .remover:hover,
#conteudo section #coisas #lista li .remover:focus-visible {
    background-color: #ff4545;
}
#conteudo section #coisas #lista li .remover:active {
    background-color: white;
    color: #ff4545;
}

#conteudo section #coisas #lista li .conclusao {
    background-color: darkgreen;
    color: white;
    box-shadow: 1px 1px 1px #00000034;
    border: 0;
    border-radius: 5em;
    padding: 8% 10%;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .2s;
}
#conteudo section #coisas #lista li .conclusao:hover,
#conteudo section #coisas #lista li .conclusao:focus-visible {
    background-color: lightgreen;
}
#conteudo section #coisas #lista li .conclusao:active {
    background-color: green;
}

#conteudo section #coisas #lista li .editar {
    background-image: linear-gradient(45deg, #ff00d0, #6200ff, #006aff, #00bfff);
    color: white;
    border: 0;
    border-radius: 5em;
    padding: 8% 12%;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 1px 1px 1px #00000034;
}
#conteudo section #coisas #lista li .editar:hover, 
#conteudo section #coisas #lista li .editar:focus-visible {
    background-image: linear-gradient(45deg, #fbf8cc, #fde4cf, #ffcfd2, #f1c0e8, #cfbaf0, #a3c4f3, #90dbf4, #8eecf5, #98f5e1, #b9fbc0);
    color: black;
}
#conteudo section #coisas #lista li .editar:active {
    background-image: linear-gradient(45deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff, white);
}

#modal-edit {
    position: absolute;
}
#modal-edit::backdrop {
    display: none;
}

#modal-edit #janelaEdicaoFundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
}

#modal-edit #edicao {
    display: none;
    position: fixed;
    top: 15%;
    left: 33%;
    margin: auto;
    z-index: 1;
    background-color: #6200ff;
    color: white;
    padding: 2%;
    padding-top: 0;
    border-radius: 1em;
    font-size: 1.2em;
    min-width: 35%;
    max-width: max-content;
    box-shadow: 1px 1px 5px #0000004d;
}
#modal-edit #edicao #idTarefaEdicao {
    visibility: visible;
    font-size: 0px;
}
#modal-edit #edicao h3 {
    border-bottom: 2px solid white;
    padding-bottom: 2%;
    margin-bottom: 6%;
}
#modal-edit #edicao .edit {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}
#modal-edit #edicao .edit input {
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 0.8em;
    padding: 2% 4%;
    border: 2px dashed #ffadad;
    color: gray;
}
#modal-edit #edicao .edit #descricaoTarefa {
    font-size: 0.6em;
    border-radius: 0.8em;
    padding: 2%;
    border: 2px dashed #ffadad;
    color: gray;
}
#modal-edit #edicao .edit .botoes {
    display: flex;
    justify-content: center;
    gap: 1em;
}
#modal-edit #edicao .edit .botoes button {
    border: 0;
    background-color: #ffadad;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0.8em;
    padding: 2.5% 4%;
    width: max-content;
    cursor: pointer;
    transition-duration: .2s;
}
#modal-edit #edicao .edit .botoes button:hover,
#modal-edit #edicao .edit .botoes button:focus-visible {
    background-color: #ff6498;
}
#modal-edit #edicao .edit .botoes button:active {
    background-color: #ff4545;
}

/* O rodapé do site */

#rodape {
    background-color: #ff6498;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 2%;
    padding-bottom: 3%;
    border-radius: 40% 40% 0 0;
}

#rodape #topo {
    margin-bottom: 1.4%;
    padding: 1%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 1em;
    font-size: 1.3em;
    font-weight: bolder;
    transition-duration: .4s;
}
#rodape #topo:hover,
#rodape #topo:focus-visible {
    background-color: #b9fbc0;
    color: white;
}
#rodape #topo:active {
    background-color: white;
    color: #b9fbc0;
    transition-duration: .2s;
}

#rodape a {
    text-decoration: none;
    color: #b9fbc0;
    font-weight: bold;
    border-radius: 1em;
    transition-duration: .2s;
}
#rodape a:hover,
#rodape a:focus-visible {
    background-color: #b9fbc0;
    color: white;
    padding: 1px 6px;
}
#rodape a:active {
    background-color: white;
    color: #b9fbc0;
}

#rodape p:nth-last-child(2n) {
    margin: 1% auto 1.5%;
}
